@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Kanit', sans-serif;
}

.sarabun {
  font-family: 'Sarabun', sans-serif;
}
/*  */
.headline-1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
}

.headline-2 {
  font-size: 34px;
  font-weight: 500;
  line-height: 36px;
}

.headline-3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.headline-4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.subtitle-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.subtitle-2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.medium {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.body-1 {
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.body-2 {
  font-family: 'Sarabun', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.body-s {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.button {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.caption {
  font-family: 'Sarabun', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.overline {
  font-family: 'Sarabun', sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* swiper */
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  line-height: 8px;
}

.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
}

/* custome-banner */
.custome-banner {
  height: 417px;

  .swiper-slide-active {
    z-index: 2;
  }
}
/* table */
thead {
  tr {
    background-color: #efefef;

    th {
      padding: 14px 24px;
    }
  }
}

tbody {
  tr > td {
    text-align: center;
    padding: 14px 24px;
  }
}

.report {
  tbody {
    tr:nth-child(even) {
      background: #efefef;
    }

    tr:nth-child(odd) {
      background: #fff;
    }
  }
}
