@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Kanit', sans-serif;
}

.sarabun {
  font-family: 'Sarabun', sans-serif;
}

/* swiper */
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  line-height: 8px;
}

.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
}

/* custome-banner */
.custome-banner {
  height: 417px;

  .swiper-slide-active {
    z-index: 2;
  }
}
